.index__nav-carousel {
    display: flex;
    width: 35%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
    position: relative;
    z-index: 1;
  }
  
  .index__nav-carousel h2 {
    margin: 2vw;
    color: var(--gris2);
  }
  
  /* #carouselExampleDark {
     background-image: linear-gradient(135deg, rgba(0,0,0,0.5) ,rgba(200,200,200, 1) 95%); 

  } 
  */


  
  .bg-cover {
    background-attachment: static;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .carousel-caption h5 {
    width: 35%;
    height: 2vw;
    font-size: 1.1rem;
    color: white;
    text-align: center;
  }
  
  .carousel-caption div {
    width: 30%;
    text-align: center;
    align-self: flex-end;
  
  }
  
  .carousel-caption i {
    color: var(--azul);
    font-size: 1.2rem;
  }
  
  #carouselExampleDark img{
    /* background-image: linear-gradient(135deg, rgba(0,0,0,0.5) ,rgba(200,200,200, 1) 95%); */
    border: 1px solid black;
  }