#about-us1:hover {
    margin-top: 10%;
    margin-bottom: 10%;
    transition: all 2s ease-in;
    transform: scale(110%);
    overflow: hidden;
    z-index: 2;
  }

#about-us1:not(hover) {
    transition: all 2s ease-out;
    transform: scale(100%);
    z-index: 2;
  }
  