:root {
  /*PALETA 1 */
  --verde-claro: #99cc99;
  --celeste-claro: #99c2cc;
  --rosa-claro: #cc99ad;
  --purpura-claro: #cc99ad;
  --dorado-claro: #ccb399;
  --blanco: #ffffff;
  --gris-claro: #edf1ed;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
  line-height: 2;
  letter-spacing: 1px;
}


/* @font-face {
#99cc99 - verde claro
#99c2cc - celeste claro
#cc99ad - rosa claro
#cc99ad - purpura claro
#ccb399 - dorado claro


rgb(153, 204, 153) - verde claro
rgb(153, 194, 204) - celeste claro
rgb(204, 153, 173) - rosa claro
rgb(153, 153, 204) - purpura claro
rgb(204, 179, 153) - dorado claro


}  */



.index__main-nav {
  position: relative;
  width: 100%;
  height: 100%;
  inset: 0;
}

.index__main::after {
  position: absolute;
  inset: 0;
  content: "";
  background-image: url("../img/logo-v1.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-clip: border-box;
  opacity: 0.09;
  z-index: -1;
}

.header__div-logo {
  padding: 1vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.header__div-logo #header__figure-logo {
  display: flex;
  width: 15%;
}

#header__figure-logo img {
  width: 100%;
}

#header__navbar .navbar-nav {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#header__navbar .navbar-nav a:hover {
  color: var(--verde-claro);
  text-decoration: underline;
}



.fa-facebook:hover, .fa-instagram:hover, .fa-linkedin:hover {
  color: var(--verde-claro);
}


.index__main-section1 img {
  width: 10vw;
  display: flex;
  justify-content: center;
}

.index__main-section1 {
  margin-top: 5vw;
  margin-bottom: 5vw;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
}



.index__main-section1 article {
  width: 25%;
  height: 25%;
  display: flex;
  justify-content: center;
  align-self: center;
  align-items: center;
  flex-direction: column;
  border: 0.1vw dotted black;
  box-shadow: 0px 0px 50px 20px rgba(0, 0, 0, 0.2) inset;
  -webkit-box-shadow: 0px 0px 50px 20px rgba(0, 0, 0, 0.2) inset;
  -moz-box-shadow: 0px 0px 50px 20px rgba(0, 0, 0, 0.2) inset;
  border-radius: 1vh;
  margin: 1vw;
  padding: 1vw;

}

.index__main-section1 article .index__article-buttons {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-top: 1vw;
  padding: 1vw;
}

.index__main-section1 article .index__article-buttons div {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.index__main-section1 article .index__article-buttons div a {
  width: 75%;
  border: 0.1vw dotted black;
  border-radius: 100vh;
  text-decoration: none;
  text-align: center;
  align-self: center;
}

.index__main-section1 article .index__article-buttons div a span {
  color: black;
}

.index__div1,
.index__div2,
.index__div3 {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
}


.index__main-section1 .index__article1 h3,
.index__main-section1 .index__article2 h3,
.index__main-section1 .index__article3 h3 {
  align-self: center;
  margin: 1vw;
  padding: 1vw;
}

.hover:hover a {
  color: var(--amarillo3);
  background-color: var(--petroleo3);
  border-radius: 1vh;
}

.opacity0 {
  opacity: 0;
  transform: scale(100%);
  transition: all linear 2s ease-in;
}

.opacity1 {
  opacity: 1;
  transform: scale(100%);
  transition: all linear 2s ease-out;
}

.index__article-buttons div a:hover {
  background-color: var(--verde-claro);
}


footer {
  background: linear-gradient(var(--gris-claro), 75%, var(--verde-claro));
}

.index__nav-carousel {
  display: flex;
  width: 35%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: left;
  position: relative;
}

.index__nav-carousel h2 {
  margin: 2vw;
  color: var(--gris2);
}

/* #carouselExampleDark {
   background-image: linear-gradient(135deg, rgba(0,0,0,0.5) ,rgba(200,200,200, 1) 95%); 

} 
*/



.bg-cover {
  background-attachment: static;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.carousel-caption h5 {
  width: 35%;
  height: 2vw;
  font-size: 1.1rem;
  color: white;
  text-align: center;
}

.carousel-caption div {
  width: 30%;
  text-align: center;
  align-self: flex-end;

}

.carousel-caption i {
  color: var(--azul);
  font-size: 1.2rem;
}

#carouselExampleDark img{
  /* background-image: linear-gradient(135deg, rgba(0,0,0,0.5) ,rgba(200,200,200, 1) 95%); */
  border: 1px solid black;
}

@media (min-width: 360px) and (max-width: 1023px){

  * {
    font-size: 1rem;
  }
    
  }
